*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 90vh;
    background-image: url("../assets/images/slider2.jpg");
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    /* background-color: yellow; */
}
nav{
    position: fixed;
    width: 80%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid transparent;
}
nav .logo{
    float: left;
    padding: 20px;
}
ul{
    display: flex;
    float: right;
    top: 10; 
    padding: 35px;
}
li{
    padding: 10px;
    list-style: none;
    display: block;
}
a{  
    font-size: 13px;
    color:rgb(252,252,253);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.h-text{
    color: white;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.h-text h3{
    font-size: 35px;
}
.h-text h3 span{
    color: rgb(24,207,171);
}
.h-text h2{
    font-size: 60px;
}
.h-text h3{
    font-size: 34px;
}
#btn1{
    font-size: 13px;
    background-color: rgb(24,207,171);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-top: 6px solid #fff;
}
#btn2{
    margin: 20px;
    font-size: 13px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(0,203,246);
    border-top: 6px solid #fff;
    
}
.about{
    width: 100%;
    display: inline-block;
    display: flex;
}
.about1{
    width: 25%;
    float: left;
    color: #fff;
    background-color: #1c2a33;
    text-align: center;
    border-top: 7px solid #fff;
    min-height: 300px;
}
.about2{
    width: 25%;
    float: left;
    color: #fff;
    background-color: #18cfab;
    text-align: center;
    border-top: 7px solid #fff;
    min-height: 300px;
}
.about3{
    width: 25%;
    float: left;
    color: #fff;
    background-color: #1c2a33;
    text-align: center;
    border-top: 7px solid #fff;
    min-height: 300px;
}
.about4{
    width: 25%;
    float: left;
    color: #fff;
    background-color: #18cfab;
    text-align: center;
    border-top: 7px solid #fff;
    min-height: 300px;
}
.about1 h3{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 45px;
}
.about2 h3{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 45px;
}
.about3 h3{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 45px;
}
.about4 h3{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 45px;
}
.about1 img{
    margin-top: 60px;
}
.about2 img{
    margin-top: 60px;
}
.about3 img{
    margin-top: 60px;
}
.about4 img{
    margin-top: 60px;
}
/* Start Skill*/

.container1{
    margin: 0 auto;
    max-width: 1500px;
}
.skill{
    width: 100%;
    margin-top:30px;
}
.skillsblog1{
    margin-top: 40px;
}
.skill h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 30px;
}
.skill img{
    margin: 0 auto;
    display: block;
}
.skillsblog1
{
    /* width:cal(100%/3); */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content:center;
}
.skillsblog2
{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}
.skillsblog3
{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    text-align: justify;
}
/* /subSkill 1/ */
.sblog1{
  width:30%;
  height: 40px;
  padding: 20px;
}
.sblog1 h3{
    font-size: 18px;
    line-height: 40px;
    color:rgb(51,117,162);
} 
.sblog1 h3 i{
    font-size:48px;
    margin-right: 10px;
    color: rgb(24,207,171);
}
.paragraph{
    display: block;
}
.sblog1 h3 i{
    font-size:48px;
    margin-right: 10px;
    color: rgb(24,207,171);
}
.paragraph{
    font-size: 14px;
    line-height: 25px;
    font-family: 'montserratlight';
    color: #777777;
    text-align: justify;
}
.sblog2{
    width:30%;
    padding: 20px;
  }
.sblog2 h3{
      font-size: 18px;
      line-height: 40px;
      color:rgb(51,117,162);
  } 
.sblog2 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      display: block;
  }
  .sblog2 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      font-size: 14px;
      line-height: 25px;
      font-family: 'montserratlight';
      color: #777777;
      text-align: justify;
  }
  .sblog3{
    width:30%;
    padding: 20px;
  }
.sblog3 h3{
      font-size: 18px;
      line-height: 40px;
      color:rgb(51,117,162);
  } 
.sblog3 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      display: block;
  }
  .sblog3 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      font-size: 14px;
      line-height: 25px;
      font-family: 'montserratlight';
      color: #777777;
      text-align: justify;
  }
  /* /end-subSkill-1/ */
  

  /* /subskill2/ */
  .sblog4{
    width:30%;
    height: 40px;
    padding: 20px;
  }
  .sblog4 h3{
      font-size: 18px;
      line-height: 40px;
      color:rgb(51,117,162);
  } 
  .sblog4 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      display: block;
  }
  .sblog4 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      font-size: 14px;
      line-height: 25px;
      font-family: 'montserratlight';
      color: #777777;
  }
  .sblog5{
      width:30%;
      padding: 20px;
    }
  .sblog5 h3{
        font-size: 18px;
        line-height: 40px;
        color:rgb(51,117,162);
    } 
  .sblog5 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        display: block;
    }
    .sblog5 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        font-size: 14px;
        line-height: 25px;
        font-family: 'montserratlight';
        color: #777777;
    }
    .sblog6{
      width:30%;
      padding: 20px;
    }
  .sblog6 h3{
        font-size: 18px;
        line-height: 40px;
        color:rgb(51,117,162);
    } 
  .sblog6 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        display: block;
    }
    .sblog6 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        font-size: 14px;
        line-height: 25px;
        font-family: 'montserratlight';
        color: #777777;
    }
   /* /end-subskill2/ */
   
   /* /subskill3/ */
   .sblog7{
    width:30%;
    height: 40px;
    padding: 20px;
  }
  .sblog7 h3{
      font-size: 18px;
      line-height: 40px;
      color:rgb(51,117,162);
  } 
  .sblog7 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      display: block;
  }
  .sblog7 h3 i{
      font-size:48px;
      margin-right: 10px;
      color: rgb(24,207,171);
  }
  .paragraph{
      font-size: 14px;
      line-height: 25px;
      font-family: 'montserratlight';
      color: #777777;
  }
  .sblog8{
      width:30%;
      padding: 20px;
    }
  .sblog8 h3{
        font-size: 18px;
        line-height: 40px;
        color:rgb(51,117,162);
    } 
  .sblog8 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        display: block;
    }
    .sblog8 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        font-size: 14px;
        line-height: 25px;
        font-family: 'montserratlight';
        color: #777777;
    }
    .sblog9{
      width:30%;
      padding: 20px;
    }
  .sblog9 h3{
        font-size: 18px;
        line-height: 40px;
        color:rgb(51,117,162);
    } 
  .sblog9 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        display: block;
    }
    .sblog9 h3 i{
        font-size:48px;
        margin-right: 10px;
        color: rgb(24,207,171);
    }
    .paragraph{
        font-size: 14px;
        line-height: 25px;
        font-family: 'montserratlight';
        color: #777777;
    }
   /* /end-subskill3/ */
/* end-Start-Skill*/



/* /about-company/ */
.aboutcompany{
    width: 100%;
    height: 80vh;
    background-image: url(../assets/images/slider1.jpg);
    background-size: cover;
}
.aboutcompany1{
    width: 100%;
    display: flex;
}
.aboutcompany1-1{
    width: 50%;
    margin-top: 15%;
    /* margin-top:18%; */
}
.aboutcompany2{
    width: 50%;
    float: left;
}
.aboutcompany2-1 h1{
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 30px;
    color: #fff;
    margin-top: 10%;
    margin-left: 10%;
}
.aboutcompany2-1 img{
    margin-left: 21%;
} 
.aboutcompany2-2{
    width: 100%;
    display: inline-block;
    /* display: flex; */
}
 .nav2{
    display: block;
}
#aboutul{
  margin-right: 42%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#aboutul li a{
    padding-top: 5px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
}
#aboutul li a:active{
 color: sandybrown;
} 
.processbar1{
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #959595;
    height: 40px;
}
.processbar1 span{
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 41px;
    margin-left: 15px;  
}




.work{
    text-align: center;
}
.conatiner2{
    margin: 0 auto;
    max-width: 1500px;
}
.workheading{
   width: 100%;
}
.workheading h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 30px;
}
.workheading img{
    margin: 0 auto;
    display: block;
}